.btn-wire {
  
  border: 2px solid;
  
}


.btn-headroom {
  
  margin-top: 2em;
  
}

.btn {
  
  border-radius: 36px;
  // padding: 6px 36px;
  
  @media screen and (max-width: $screen-xs) {
    
    margin-bottom: 5px;
    
  }
  
}
