/*  TYPOGRAPHY
-------------------------------------------------- */

// Smooth fonts on Mac

body {
  
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  
}

p {
  
  font-size: 18px;
  
}

.index {
  
  h1 {
    
    font-size: 32px;
    margin-top: 0;
    
  }
}

//

.sidebar { 
  
  h3 {
    
    font-size: $font-size-h3 - 9;
    border-bottom: 1px solid;
    line-height: 2;
    margin-top: 5px;
    
  }
  
  h4 {
    
    font-size: $font-size-h4 - 4;
  }
  
}

.highlight {
  
  background-color: #16d2c5;
  padding: 0 5px;
  
}

// Frontpage grey text headers to indicate sections

h2.subtle {

  font-size: 25px;
  color: $brand-grey-dark;
  margin: 1em 0;

}

h3.subtle {

  font-size: 20px;
  color: $brand-grey-dark;
  margin: 1em 0;

}

h4.subtle {

  font-size: 18px;
  color: $brand-grey-dark;
  margin: 1em 0;

}

// checklist 

.list-checklist {
  
  list-style-type: none;
  padding: 0;
  
  li {
    
    padding-left: 2.5em;
    
  }
  
  li::before {
    
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\e013";
    margin-left: -2em;
    margin-right: 1em;
    color: $brand-success;
  }
  
}