<nav class="navbar navbar-default navbar-topbar hidden-xs">
  <div class="container">
    <div class="row">
      <div id="topbar" class="">
        <ul class="nav navbar-nav navbar-topbar-nav">
          <li><%= link_to "Download our booklet", "documents/nurse recruitment booklet_2017.pdf" %></li>
          <li><a href="mailto:CentralRecruitment@sth.nhs.uk">Contact us</a></li>
        </ul>
      </div>
     </div>
  </div>
</nav>